# Ignore large data files and folders
embeddings/
bertopic_results/
results_preliminary/
*.parquet
*.npy

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Allow specific files
!.gitignore
!bertopic.ipynb
!topic_analysis.md
!bertopic_results_all_platforms_topics_gpt5.csv

# Allow pipeline scripts and HTML
!bertopic_pipeline/
!bertopic_pipeline/*.py
!bertopic_pipeline/*.html
!bertopic_pipeline/*.ipynb